openapi: 3.0.3
info:
  version: v2beta
  title: StabilityAI REST API
  description: |-
    Welcome to the Stability Platform API. As of March 2024, we are building the REST v2beta API service to be the primary API service for the Stability Platform.
    All AI services on other APIs (gRPC, REST v1, RESTv2alpha) will continue to be maintained, however they will not receive
    new features or parameters.

    If you are a REST v2alpha user, we strongly recommend that you adjust the URL calls for the specific services that you are using over to the equivalent REST v2beta URL. Normally, this means simply replacing "v2alpha" with "v2beta". We are not deprecating v2alpha URLs at this time for users that are currently using them.

    #### Authentication

    You will need your [Stability API key](https://platform.stability.ai/account/keys) in order to make requests to this API.
    Make sure you never share your API key with anyone, and you never commit it to a public repository. Include this key in
    the `Authorization` header of your requests.

    #### Rate limiting

    This API is rate-limited to 150 requests every 10 seconds. If you exceed this limit, you will receive a `429` response
    and be timed out for 60 seconds. If you find this limit too restrictive, please reach out to us via [this form](https://stabilityplatform.freshdesk.com/support/home).

    #### Support

    Please see our [FAQ](https://platform.stability.ai/faq) for answers to common questions. If you have any other questions or concerns,
    please reach out to us via [this form](https://stabilityplatform.freshdesk.com/support/tickets/new).

    To see the health of our APIs, please check our [Status Page](https://stabilityai.instatus.com/).
  x-marketplace-tags:
    - name: Featured
      description: Featured APIs are hand-picked for display purposes.
servers:
  - url: https://api.stability.ai
security:
  - STABILITY_API_KEY: []
tags:
  - name: Edit
    description: |-
      Tools for editing your own and generated images.

      **[Erase](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1erase/post)**

      The Erase service removes unwanted objects, such as blemishes on portraits or items on desks, using image masks.

      **[Outpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1outpaint/post)**

      The outpaint service inserts additional content in an image to fill in the space in any direction, allowing you to "zoom-out" of an image.

      **[Inpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1inpaint/post)**

      The Inpaint service modifies images by filling in or replacing specified areas with new content based on the content of a "mask" image.

      **[Search and Replace](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-replace/post)**

      The Search and Replace service, similar to inpaint, allows to replace specified areas with new content, but this time with the help of a prompt instead of a mask. The service will automatically segment the object and replace it with the object requested in the prompt.

      **[Search and Recolor](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-recolor/post)**

      The Search and Recolor service is another derivative of the inpaint service and provides the ability to change the color of a specific object in an image using a prompt. The Search and Recolor service will automatically segment the object and recolor it using the colors requested in the prompt.

      **[Remove Background](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1remove-background/post)**

      The Remove Background service accurately segments the foreground from an image to removes the background.
  - name: Upscale
    description: |-
      Tools for increasing the size and resolution of your existing images.

      **[Fast Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1fast/post)**

      This service enhances image resolution by 4x using predictive and generative AI. This lightweight and fast service (processing in ~1 second) is ideal for enhancing the quality of compressed images, making it suitable for social media posts and other applications.

      **[Conservative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1conservative/post)**

      This service can upscale images by 20 to 40 times up to a 4 megapixel output image with minimal alteration to the original image. The Conservative Upscaler can upscale images as small as 64x64 pixels directly to a 4 megapixel output. Use this option if you directly need a 4 megapixel output.

      **[Creative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1creative/post)**

      The service can upscale highly degraded images (lower than 1 megapixel) with a creative twist to provide high resolution results.
  - name: Generate
    description: |-
      Tools to generate new images from text, or create variations of existing images. Our different services include:

      **[Stable Image Ultra](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1ultra/post)**: Photorealistic, Large-Scale Output

      Our state of the art text to image model based on Stable Diffusion 3.5. Stable Image Ultra Produces the highest quality, photorealistic outputs perfect for professional print media and large format applications. Stable Image Ultra excels at rendering exceptional detail and realism.

      **[Stable Image Core](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1core/post)**: Fast and Affordable

      Optimized for fast and aﬀordable image generation, great for rapidly iterating on concepts during ideation. Stable Image Core is the next generation model following Stable Diffusion XL.

      **[Stable Diffusion 3 & 3.5 Model Suite](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1sd3/post)**: Stability AI's latest base models

      The different versions of our open models are available via API, letting you test and adjust speed and quality based on your use case. All model versions strike a balance between generation speed and output quality and are ideal for creating high-volume, high-quality digital assets like websites, newsletters, and marketing materials.
  - name: Control
    description: |-
      Tools for generating precise, controlled variations of existing images or sketches.

      **[Sketch](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1sketch/post)**

      This service upgrades sketches to refined outputs with precise control. For non-sketch images, it allows detailed manipulation of the final appearance by leveraging the contour lines and edges within the image.

      **[Structure](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1structure/post)**

      This service excels in generating images by maintaining the structure of an input image, making it especially valuable for advanced content creation scenarios such as recreating scenes or rendering characters from models.

      **[Style](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1style/post)**

      This service extracts stylistic elements from an input image (control image) and uses it to guide the creation of an output image based on the prompt. The result is a new image in the same style as the control image.
  - name: Results
    description: Tools for fetching the results of your async generations.
  - name: User
    description: Manage your Stability account, and view account/organization balances.
  - name: Engines
    description: Enumerate engines that work with 'Version 1' REST API endpoints.
  - name: SDXL 1.0 & SD1.6
    description: Generate images using SDXL 1.0 or SD1.6.
paths:
  /v2alpha/generation/image-to-video:
    post:
      tags:
        - v2alpha/generation
      summary: image-to-video
      description: |-
        Generate a short video based on an initial image with [Stable Video Diffusion](https://static1.squarespace.com/static/6213c340453c3f502425776e/t/655ce779b9d47d342a93c890/1700587395994/stable_video_diffusion.pdf),
        a latent video diffusion model. 



        ### How to generate a video
        Video generations are asynchronous, so after starting a generation use the `id` returned in the response to poll [/v2alpha/generation/image-to-video/result/{id}](#tag/v2alphageneration/paths/~1v2alpha~1generation~1image-to-video~1result~1%7Bid%7D/get) for results.

        ### Price
        Flat rate of 20 cents per generation.
      x-codeSamples:
        - lang: python
          label: Python
          source: |-
            import requests

            response = requests.post(
                f"https://api.stability.ai/v2alpha/generation/image-to-video",
                headers={"authorization": f"Bearer sk-MYAPIKEY"},
                files={"image": open("./kittens-in-space.png", "rb")},
                data={
                    "seed": 0,
                    "cfg_scale": 1.8,
                    "motion_bucket_id": 127
                },
            )

            print("Generation ID:", response.json().get('id'))
        - lang: javascript
          label: JavaScript
          source: |-
            import fs from "node:fs";
            import axios from "axios";
            import FormData from "form-data";

            const data = new FormData();
            data.append("image", fs.readFileSync("./image.png"), "image.png");
            data.append("seed", 0);
            data.append("cfg_scale", 1.8);
            data.append("motion_bucket_id", 127);

            const response = await axios.request({
              url: `https://api.stability.ai/v2alpha/generation/image-to-video`,
              method: "post",
              validateStatus: undefined,
              headers: {
                authorization: `Bearer sk-MYAPIKEY`,
                ...data.getHeaders(),
              },
              data: data,
            });

            console.log("Generation ID:", response.data.id);
        - lang: terminal
          label: cURL
          source: |-
            curl -f -sS "https://api.stability.ai/v2alpha/generation/image-to-video" \
              -H "authorization: Bearer sk-MYAPIKEY" \
              -F image=@"./image.png" \
              -F seed=0 \
              -F cfg_scale=1.8 \
              -F motion_bucket_id=127 \
              -o "./output.json"
      parameters:
        - schema:
            type: string
            description: Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.
            minLength: 1
          required: true
          name: authorization
          in: header
        - schema:
            type: string
            minLength: 1
            description: The content type of the request body. Do not manually specify this header; your HTTP client library will automatically include the appropriate boundary parameter.
            example: multipart/form-data
          required: true
          name: content-type
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageToVideoRequest'
      responses:
        '200':
          description: Video generation started. Poll for results using the `id` in the response [here](#tag/v2alphageneration/paths/~1v2alpha~1generation~1image-to-video~1result~1%7Bid%7D/get).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/GenerationID'
                required:
                  - id
        '400':
          description: Invalid parameter(s), see the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
        '500':
          description: An internal error occurred. If the problem persists [contact support](https://stabilityplatform.freshdesk.com/support/tickets/new).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2a1b2d4eafe2bc6ab4cd4d5c6133f513
                  name: internal_error
                  errors:
                    - An unexpected server error has occurred, please try again later.
  /v2alpha/generation/image-to-video/result/{id}:
    get:
      tags:
        - v2alpha/generation
      summary: image-to-video/result
      description: |-
        Fetch the result of an image-to-video generation by ID. Make sure you use the same API key that you used to
        generate the video, otherwise you will receive a `404` response.

        ### How is progress reported?
        Your generation is either `in-progress` (i.e. status code `202`) or it is complete (i.e. status code `200`). 
        We may add more fine-grained progress reporting in the future (e.g. a numerical progress).

        ### How long are results stored?
        Results are stored for 24 hours after generation. After that, the results are deleted and you will need to 
        re-generate your video.
      x-codeSamples:
        - lang: python
          label: Python
          source: |-
            import requests

            generation_id = "e52772ac75b..."

            response = requests.request(
                "GET",
                f"https://api.stability.ai/v2alpha/generation/image-to-video/result/{generation_id}",
                headers={
                    'Accept': "video/*",  # Use 'application/json' to receive base64 encoded JSON
                    'authorization': f"Bearer sk-MYAPIKEY"
                },
            )

            if response.status_code == 202:
                print("Generation in-progress, try again in 10 seconds.")
            elif response.status_code == 200:
                print("Generation complete!")
                with open("video.mp4", 'wb') as file:
                    file.write(response.content)
            else:
                raise Exception(str(response.json()))
        - lang: javascript
          label: JavaScript
          source: |-
            import axios from "axios";
            import fs from "node:fs";

            const generationID = "e52772ac75b...";

            const response = await axios.request({
              url: `https://api.stability.ai/v2alpha/generation/image-to-video/result/${generationID}`,
              method: "GET",
              validateStatus: undefined,
              responseType: "arraybuffer",
              headers: {
                accept: "video/*", // Use 'application/json' to receive base64 encoded JSON
                authorization: `Bearer sk-MYAPIKEY`,
              },
            });

            if (response.status === 202) {
              console.log("Generation is still running, try again in 10 seconds.");
            } else if (response.status === 200) {
              console.log("Generation is complete!");
              fs.writeFileSync("video.mp4", Buffer.from(response.data));
            } else {
              throw new Error(`Response ${response.status}: ${response.data.toString()}`);
            }
        - lang: terminal
          label: cURL
          source: |-
            generation_id="e52772ac75b..."
            url="https://api.stability.ai/v2alpha/generation/image-to-video/result/$generation_id"
            http_status=$(curl -sS -f -o "./output.mp4" -w '%{http_code}' -H "authorization: sk-MYAPIKEY" -H 'accept: video/*' "$url")

            case $http_status in
                202)
                    echo "Still processing. Retrying in 10 seconds..."
                    ;;
                200)
                    echo "Download complete!"
                    ;;
                4*|5*)
                    mv "./output.mp4" "./error.json"
                    echo "Error: Check ./error.json for details."
                    exit 1
                    ;;
            esac
      parameters:
        - schema:
            $ref: '#/components/schemas/GenerationID'
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.
            minLength: 1
          required: true
          name: authorization
          in: header
        - schema:
            type: string
            default: video/*
            description: Specify `video/*` to get the video bytes directly. Otherwise specify `application/json` to receive the video as base64 encoded JSON.
            enum:
              - video/*
              - application/json
          required: false
          name: accept
          in: header
      responses:
        '200':
          description: The result of your video generation.
          headers:
            x-request-id:
              description: A unique identifier for this request.
              schema:
                type: string
            content-type:
              description: |-
                The format of the generated video.

                 To receive the bytes of the video directly, specify `video/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.
              examples:
                mp4:
                  description: raw bytes
                  value: video/mp4
                mp4JSON:
                  description: base64 encoded
                  value: application/json; type=video/mp4
              schema:
                type: string
            finish-reason:
              schema:
                type: string
                enum:
                  - SUCCESS
                  - CONTENT_FILTERED
              description: |-
                Indicates the reason the generation finished.

                - `SUCCESS` = successful generation.
                - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                policy and one or more frames have been blurred as a result.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`.
            seed:
              description: |-
                The seed used as random noise for this generation.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `seed`.
              example: '343940597'
              schema:
                type: string
          content:
            video/mp4:
              schema:
                type: string
                description: |-
                  The bytes of the generated video.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated mp4
            application/json; type=video/mp4:
              schema:
                type: object
                properties:
                  video:
                    type: string
                    description: The generated video, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and one or more frames have been blurred as a result.
                    example: SUCCESS
                required:
                  - video
                  - finish_reason
        '202':
          description: Your image-to-video generation is still in-progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/GenerationID'
                  status:
                    type: string
                    enum:
                      - in-progress
                    description: The status of your generation.
                required:
                  - id
                  - status
        '400':
          description: Invalid parameter(s), see the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
        '404':
          description: 'id: the generation either does not exist or has expired.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2bca35116bc5431d6dc4b4ea2ef3da2f
                  name: generation_not_found
                  errors:
                    - 'id: the generation either does not exist or has expired.'
        '500':
          description: An internal error occurred. If the problem persists [contact support](https://stabilityplatform.freshdesk.com/support/tickets/new).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2a1b2d4eafe2bc6ab4cd4d5c6133f513
                  name: internal_error
                  errors:
                    - An unexpected server error has occurred, please try again later.
  /v2alpha/generation/stable-image/upscale:
    post:
      tags:
        - v2alpha/generation
      summary: stable-image/upscale
      description: |-
        Takes images between 64x64 and 1 megapixel and upscales them all the way to **4K** resolution.  Put more 
        generally, it can upscale images ~20-40x times while preserving, and often enhancing, quality.

        ### How to use
          - Invoke this endpoint with the required parameters to start a generation
          - Use that `id` in the response to poll for results at the [upscale/result/{id}](#tag/v2alphageneration/paths/~1v2alpha~1generation~1stable-image~1upscale~1result~1%7Bid%7D/get) endpoint
            - Rate-limiting or other errors may occur if you poll more than once every 10 seconds
            
        ### Price
        Flat rate of 25 cents per generation.
      x-codeSamples:
        - lang: python
          label: Python
          source: |-
            import requests

            response = requests.post(
                f"https://api.stability.ai/v2alpha/generation/stable-image/upscale",
                headers={
                    "authorization": f"Bearer sk-MYAPIKEY"
                },
                files={
                    "image": open("./kitten-in-space.png", "rb")
                },
                data={
                    "prompt": "cute fluffy white kitten floating in space, pastel colors",
                    "output_format": "webp",
                },
            )

            print("Generation ID:", response.json().get('id'))
        - lang: javascript
          label: JavaScript
          source: |-
            import fs from "node:fs";
            import axios from "axios";
            import FormData from "form-data";

            const formData = {
              image: fs.createReadStream("./kitten-in-space.png"),
              prompt: "cute fluffy white kitten floating in space, pastel colors",
              output_format: "webp"
            };

            const response = await axios.postForm(
              `https://api.stability.ai/v2alpha/generation/stable-image/upscale`,
              axios.toFormData(formData, new FormData()),
              {
                validateStatus: undefined,
                headers: { Authorization: `Bearer sk-MYAPIKEY` },
              },
            );

            console.log("Generation ID:", response.data.id);
        - lang: terminal
          label: cURL
          source: |-
            curl -f -sS "https://api.stability.ai/v2alpha/generation/stable-image/upscale" \
              -H "authorization: Bearer sk-MYAPIKEY" \
              -F image=@"./kitten-in-rainforest.png" \
              -F prompt="cute fluffy white kitten sitting in a rainforest, pastel colors" \
              -F output_format=webp \
              -o "./output.json"
      parameters:
        - schema:
            type: string
            description: Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.
            minLength: 1
          required: true
          name: authorization
          in: header
        - schema:
            type: string
            minLength: 1
            description: The content type of the request body. Do not manually specify this header; your HTTP client library will automatically include the appropriate boundary parameter.
            example: multipart/form-data
          required: true
          name: content-type
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  description: |-
                    The image you wish to upscale.

                    Supported Formats:
                    - jpeg
                    - png
                    - webp

                    Validation Rules:
                    - Every side must be at least 64 pixels
                    - Total pixel count must be between 4,096 and 1,048,576 pixels
                  format: binary
                  example: ./some/image.png
                prompt:
                  type: string
                  minLength: 1
                  maxLength: 10000
                  description: |-
                    What you wish to see in the output image. A strong, descriptive prompt that clearly defines
                    elements, colors, and subjects will lead to better results.

                    To control the weight of a given word use the format `(word:weight)`,
                    where `word` is the word you'd like to control the weight of and `weight`
                    is a value between 0 and 1. For example: `The sky was a crisp (blue:0.3) and (green:0.8)`
                    would convey a sky that was blue and green, but more green than blue.
                negative_prompt:
                  type: string
                  maxLength: 10000
                  description: |-
                    A blurb of text describing what you **do not** wish to see in the output image.
                    This is an advanced feature.
                output_format:
                  type: string
                  enum:
                    - jpeg
                    - png
                    - webp
                  default: png
                  description: Dictates the `content-type` of the generated image.
                seed:
                  type: number
                  minimum: 0
                  maximum: 4294967294
                  default: 0
                  description: A specific value that is used to guide the 'randomness' of the generation. (Omit this parameter or pass `0` to use a random seed.)
                creativity:
                  type: number
                  minimum: 0.1
                  maximum: 0.5
                  default: 0.3
                  description: |-
                    Indicates how creative the model should be when upscaling an image.
                    Higher values will result in more details being added to the image during upscaling.
                style_preset:
                  type: string
                  enum:
                    - enhance
                    - anime
                    - photographic
                    - digital-art
                    - comic-book
                    - fantasy-art
                    - line-art
                    - analog-film
                    - neon-punk
                    - isometric
                    - low-poly
                    - origami
                    - modeling-compound
                    - cinematic
                    - 3d-model
                    - pixel-art
                    - tile-texture
                  description: Guides the image model towards a particular style.
              required:
                - image
                - prompt
      responses:
        '200':
          description: Upscaling was successful!
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/GenerationID'
                required:
                  - id
        '400':
          description: Invalid parameter(s), see the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
        '403':
          description: Your request was flagged by our content moderation system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationResponse'
        '500':
          description: An internal error occurred. If the problem persists [contact support](https://stabilityplatform.freshdesk.com/support/tickets/new).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2a1b2d4eafe2bc6ab4cd4d5c6133f513
                  name: internal_error
                  errors:
                    - An unexpected server error has occurred, please try again later.
  /v2alpha/generation/stable-image/upscale/result/{id}:
    get:
      tags:
        - v2alpha/generation
      summary: stable-image/upscale/result
      description: |-
        Fetch the result of an upscale generation by ID. Make sure to use the same API key to fetch the generation result
        that you used to create the generation, otherwise you will receive a `404` response.

        ### How is progress reported?
        Your generation is either `in-progress` (i.e. status code `202`) or it is complete (i.e. status code `200`). 
        We may add more fine-grained progress reporting in the future (e.g. a numerical progress).

        ### How long are results stored?
        Results are stored for 24 hours after generation. After that, the results are deleted.
      x-codeSamples:
        - lang: python
          label: Python
          source: |-
            import requests

            generation_id = "e52772ac75b..."

            response = requests.request(
                "GET",
                f"https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/{generation_id}",
                headers={
                    'Accept': "image/*",  # Use 'application/json' to receive base64 encoded JSON
                    'authorization': f"Bearer sk-MYAPIKEY"
                },
            )

            if response.status_code == 202:
                print("Generation in-progress, try again in 10 seconds.")
            elif response.status_code == 200:
                print("Generation complete!")
                with open("upscaled.webp", 'wb') as file:
                    file.write(response.content)
            else:
                raise Exception(str(response.json()))
        - lang: javascript
          label: JavaScript
          source: |-
            import axios from "axios";
            import fs from "node:fs";

            const generationID = "e52772ac75b...";

            const response = await axios.request({
              url: `https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/${generationID}`,
              method: "GET",
              validateStatus: undefined,
              responseType: "arraybuffer",
              headers: {
                accept: "image/*", // Use 'application/json' to receive base64 encoded JSON
                authorization: `Bearer sk-MYAPIKEY`,
              },
            });

            if (response.status === 202) {
              console.log("Generation is still running, try again in 10 seconds.");
            } else if (response.status === 200) {
              console.log("Generation is complete!");
              fs.writeFileSync("upscaled.webp", Buffer.from(response.data));
            } else {
              throw new Error(`Response ${response.status}: ${response.data.toString()}`);
            }
        - lang: terminal
          label: cURL
          source: |-
            generation_id="e52772ac75b..."
            url="https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/$generation_id"
            http_status=$(curl -sS -f -o "./upscaled.webp" -w '%{http_code}' -H "authorization: sk-MYAPIKEY" -H 'accept: image/*' "$url")

            case $http_status in
                202)
                    echo "Still processing. Retrying in 10 seconds..."
                    ;;
                200)
                    echo "Download complete!"
                    ;;
                4*|5*)
                    mv "./upscaled.webp" "./error.json"
                    echo "Error: Check ./error.json for details."
                    exit 1
                    ;;
            esac
      parameters:
        - schema:
            $ref: '#/components/schemas/GenerationID'
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.
            minLength: 1
          required: true
          name: authorization
          in: header
        - schema:
            type: string
            default: image/*
            description: Specify `image/*` to get the image bytes directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.
            enum:
              - image/*
              - application/json
          required: false
          name: accept
          in: header
      responses:
        '200':
          description: The upscale was successful.
          headers:
            x-request-id:
              description: A unique identifier for this request.
              schema:
                type: string
            content-type:
              description: |-
                The format of the generated image.

                 To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.
              examples:
                jpeg:
                  description: raw bytes
                  value: image/jpeg
                jpegJSON:
                  description: base64 encoded
                  value: application/json; type=image/jpeg
                png:
                  description: raw bytes
                  value: image/png
                pngJSON:
                  description: base64 encoded
                  value: application/json; type=image/png
                webp:
                  description: raw bytes
                  value: image/webp
                webpJSON:
                  description: base64 encoded
                  value: application/json; type=image/webp
              schema:
                type: string
            finish-reason:
              schema:
                type: string
                enum:
                  - SUCCESS
                  - CONTENT_FILTERED
              description: |-
                Indicates the reason the generation finished.

                - `SUCCESS` = successful generation.
                - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                policy and has been blurred as a result.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`.
            seed:
              description: |-
                The seed used as random noise for this generation.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `seed`.
              example: '343940597'
              schema:
                type: string
          content:
            image/jpeg:
              schema:
                type: string
                description: |-
                  The bytes of the generated image.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated jpeg
            application/json; type=image/jpeg:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    description: The generated image, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and has been blurred as a result.
                    example: SUCCESS
                required:
                  - image
                  - finish_reason
            image/png:
              schema:
                type: string
                description: |-
                  The bytes of the generated image.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated png
            application/json; type=image/png:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    description: The generated image, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and has been blurred as a result.
                    example: SUCCESS
                required:
                  - image
                  - finish_reason
            image/webp:
              schema:
                type: string
                description: |-
                  The bytes of the generated image.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated webp
            application/json; type=image/webp:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    description: The generated image, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and has been blurred as a result.
                    example: SUCCESS
                required:
                  - image
                  - finish_reason
        '202':
          description: Your upscale generation is still in-progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/GenerationID'
                  status:
                    type: string
                    enum:
                      - in-progress
                    description: The status of your generation.
                required:
                  - id
                  - status
        '400':
          description: Invalid parameter(s), see the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
        '403':
          description: Your request was flagged by our content moderation system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationResponse'
        '404':
          description: 'id: the generation either does not exist or has expired.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2bca35116bc5431d6dc4b4ea2ef3da2f
                  name: generation_not_found
                  errors:
                    - 'id: the generation either does not exist or has expired.'
        '500':
          description: An internal error occurred. If the problem persists [contact support](https://stabilityplatform.freshdesk.com/support/tickets/new).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2a1b2d4eafe2bc6ab4cd4d5c6133f513
                  name: internal_error
                  errors:
                    - An unexpected server error has occurred, please try again later.
  /v2alpha/generation/stable-image/inpaint:
    post:
      tags:
        - v2alpha/generation
      summary: stable-image/inpaint
      description: |-
        Inpaint an existing image, with or without a mask, using our latest-and-greatest inpainting model.

        ### Search-and-Replace Mode
        This mode is ideal for individuals of all levels of skill in design. It can be used for straightforward 
        adjustments to images. The service will automatically mask the most appropriate object based on the contents
        of the `search_prompt`, and replace it with a generated result based on the `prompt`.

        **How to use:** set the `mode` parameter to `search` and provide a short description of what to 
        search-and-replace in the `search_prompt` parameter.

        ### Mask Mode
        This mode allows for precise control of generative fill tasks on an image, down to the level of 
        individual pixels. Design professionals can provide a `mask` for the section of the image to be replaced, 
        and use standard image prompting to describe the full image as it should appear after the editing. 
        The resulting image will incorporate all of the elements described in the `prompt`.

        **How to use:** set the `mode` parameter to `mask` and either pass in an `image` with an alpha channel 
        or provide an explicit mask image to the `mask` parameter. If both are present the `mask` parameter will
        take precedence.

        ### Price
        - Requests with `mode` set to `search` cost 4 cents.
        - Requests with `mode` set to `mask` cost 3 cents.
      x-codeSamples:
        - lang: python
          label: Python
          source: |-
            import requests

            response = requests.post(
                f"https://api.stability.ai/v2alpha/generation/stable-image/inpaint",
                headers={
                    "authorization": f"Bearer sk-MYAPIKEY"
                },
                files={
                    "image": open("./husky-in-a-field.png", "rb")
                },
                data={
                    "prompt": "golden retriever in a field",
                    "mode": "search",
                    "search_prompt": "dog",
                    "output_format": "webp",
                },
            )

            if response.status_code == 200:
                with open("./golden-retriever-in-a-field.webp", 'wb') as file:
                    file.write(response.content)
            else:
                raise Exception(str(response.json()))
        - lang: javascript
          label: JavaScript
          source: |-
            import fs from "node:fs";
            import axios from "axios";
            import FormData from "form-data";

            const formData = {
              image: fs.createReadStream("./husky-in-a-field.png"),
              prompt: "golden retriever standing in a field",
              mode: "search",
              search_prompt: "dog",
              output_format: "webp"
            };

            const response = await axios.postForm(
              `https://api.stability.ai/v2alpha/generation/stable-image/inpaint`,
              axios.toFormData(formData, new FormData()),
              {
                validateStatus: undefined,
                responseType: "arraybuffer",
                headers: { Authorization: `Bearer sk-MYAPIKEY`, accept: "image/*" },
              },
            );

            if(response.status === 200) {
              fs.writeFileSync("./golden-retriever-in-a-field.webp", Buffer.from(response.data));
            } else {
              throw new Error(`${response.status}: ${response.data.toString()}`);
            }
        - lang: terminal
          label: cURL
          source: |-
            curl -f -sS "https://api.stability.ai/v2alpha/generation/stable-image/inpaint" \
              -H "authorization: Bearer sk-MYAPIKEY" \
              -H "accept: image/*" \
              -F image=@"./husky-in-a-field.png" \
              -F prompt="golden retriever in a field" \
              -F mode="search" \
              -F search_prompt="dog" \
              -F output_format="webp" \
              -o "./golden-retriever-in-a-field.webp"
      parameters:
        - schema:
            type: string
            description: Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.
            minLength: 1
          required: true
          name: authorization
          in: header
        - schema:
            type: string
            minLength: 1
            description: The content type of the request body. Do not manually specify this header; your HTTP client library will automatically include the appropriate boundary parameter.
            example: multipart/form-data
          required: true
          name: content-type
          in: header
        - schema:
            type: string
            default: image/*
            description: Specify `image/*` to get the image bytes directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.
            enum:
              - image/*
              - application/json
          required: false
          name: accept
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              oneOf:
                - $ref: '#/components/schemas/InpaintingSearchModeRequestBody'
                - $ref: '#/components/schemas/InpaintingMaskingModeRequestBody'
              discriminator:
                propertyName: mode
                mapping:
                  search: '#/components/schemas/InpaintingSearchModeRequestBody'
                  mask: '#/components/schemas/InpaintingMaskingModeRequestBody'
      responses:
        '200':
          description: Inpainting was successful.
          headers:
            x-request-id:
              description: A unique identifier for this request.
              schema:
                type: string
            content-type:
              description: |-
                The format of the generated image.

                 To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.
              examples:
                jpeg:
                  description: raw bytes
                  value: image/jpeg
                jpegJSON:
                  description: base64 encoded
                  value: application/json; type=image/jpeg
                png:
                  description: raw bytes
                  value: image/png
                pngJSON:
                  description: base64 encoded
                  value: application/json; type=image/png
                webp:
                  description: raw bytes
                  value: image/webp
                webpJSON:
                  description: base64 encoded
                  value: application/json; type=image/webp
              schema:
                type: string
            finish-reason:
              schema:
                type: string
                enum:
                  - SUCCESS
                  - CONTENT_FILTERED
              description: |-
                Indicates the reason the generation finished.

                - `SUCCESS` = successful generation.
                - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                policy and has been blurred as a result.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`.
            seed:
              description: |-
                The seed used as random noise for this generation.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `seed`.
              example: '343940597'
              schema:
                type: string
          content:
            image/jpeg:
              schema:
                type: string
                description: |-
                  The bytes of the generated image.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated jpeg
            application/json; type=image/jpeg:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    description: The generated image, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and has been blurred as a result.
                    example: SUCCESS
                required:
                  - image
                  - finish_reason
            image/png:
              schema:
                type: string
                description: |-
                  The bytes of the generated image.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated png
            application/json; type=image/png:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    description: The generated image, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and has been blurred as a result.
                    example: SUCCESS
                required:
                  - image
                  - finish_reason
            image/webp:
              schema:
                type: string
                description: |-
                  The bytes of the generated image.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated webp
            application/json; type=image/webp:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    description: The generated image, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and has been blurred as a result.
                    example: SUCCESS
                required:
                  - image
                  - finish_reason
        '400':
          description: Invalid parameter(s), see the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
        '403':
          description: Your request was flagged by our content moderation system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationResponse'
        '500':
          description: An internal error occurred. If the problem persists [contact support](https://stabilityplatform.freshdesk.com/support/tickets/new).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2a1b2d4eafe2bc6ab4cd4d5c6133f513
                  name: internal_error
                  errors:
                    - An unexpected server error has occurred, please try again later.
  /v2beta/image-to-video:
    post:
      tags:
        - Image-to-Video
      summary: Start generation
      description: |-
        Generate a short video based on an initial image with [Stable Video Diffusion](https://static1.squarespace.com/static/6213c340453c3f502425776e/t/655ce779b9d47d342a93c890/1700587395994/stable_video_diffusion.pdf),
        a latent video diffusion model. 



        ### How to use
        Please invoke this endpoint with a `POST` request.

        The headers of the request must include an API key in the `authorization` field. The body of the request must be
        `multipart/form-data`.

        The body of the request should include:
        - `image`

        The body may optionally include:
        - `seed`
        - `cfg_scale`
        - `motion_bucket_id`

        > **Note:** for more details about these parameters please see the request schema below.

        After invoking this endpoint with the required parameters, use the `id` in the response to poll for results at the
        [image-to-video/result/{id}](#tag/Image-to-Video/paths/~1v2beta~1image-to-video~1result~1%7Bid%7D/get) endpoint.  Rate-limiting or other errors may occur if you poll more than once every 10 seconds.

        ### Credits
        Flat rate of 20 credits per successful generation.  You will not be charged for failed generations.
      x-codeSamples:
        - lang: python
          label: Python
          source: |-
            import requests

            response = requests.post(
                f"https://api.stability.ai/v2beta/image-to-video",
                headers={
                    "authorization": f"Bearer sk-MYAPIKEY"
                },
                files={
                    "image": open("./kittens-in-space.png", "rb")
                },
                data={
                    "seed": 0,
                    "cfg_scale": 1.8,
                    "motion_bucket_id": 127
                },
            )

            print("Generation ID:", response.json().get('id'))
        - lang: javascript
          label: JavaScript
          source: |-
            import fs from "node:fs";
            import axios from "axios";
            import FormData from "form-data";

            const data = new FormData();
            data.append("image", fs.readFileSync("./image.png"), "image.png");
            data.append("seed", 0);
            data.append("cfg_scale", 1.8);
            data.append("motion_bucket_id", 127);

            const response = await axios.request({
              url: `https://api.stability.ai/v2beta/image-to-video`,
              method: "post",
              validateStatus: undefined,
              headers: {
                authorization: `Bearer sk-MYAPIKEY`,
                ...data.getHeaders(),
              },
              data: data,
            });

            console.log("Generation ID:", response.data.id);
        - lang: terminal
          label: cURL
          source: |-
            curl -f -sS "https://api.stability.ai/v2beta/image-to-video" \
              -H "authorization: Bearer sk-MYAPIKEY" \
              -F image=@"./image.png" \
              -F seed=0 \
              -F cfg_scale=1.8 \
              -F motion_bucket_id=127 \
              -o "./output.json"
      parameters:
        - schema:
            type: string
            description: Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.
            minLength: 1
          required: true
          name: authorization
          in: header
        - schema:
            type: string
            minLength: 1
            description: The content type of the request body. Do not manually specify this header; your HTTP client library will automatically include the appropriate boundary parameter.
            example: multipart/form-data
          required: true
          name: content-type
          in: header
        - schema:
            $ref: '#/components/schemas/StabilityClientID'
          required: false
          name: stability-client-id
          in: header
        - schema:
            $ref: '#/components/schemas/StabilityClientUserID'
          required: false
          name: stability-client-user-id
          in: header
        - schema:
            $ref: '#/components/schemas/StabilityClientVersion'
          required: false
          name: stability-client-version
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageToVideoRequest'
      responses:
        '200':
          description: Video generation started. Poll for results using the `id` in the response [here](#tag/Image-to-Video/paths/~1v2beta~1image-to-video~1result~1%7Bid%7D/get).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/GenerationID'
                required:
                  - id
        '400':
          description: Invalid parameter(s), see the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
        '403':
          description: Your request was flagged by our content moderation system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationResponse'
        '413':
          description: Your request was larger than 10MiB.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 4212a4b66fbe1cedca4bf2133d35dca5
                  name: payload_too_large
                  errors:
                    - 'body: payloads cannot be larger than 10MiB in size'
        '422':
          description: Your request was well-formed, but rejected. See the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
              examples:
                Invalid Language:
                  value:
                    id: ff54b236a3acdde1522cb1ba641c43ed
                    name: invalid_language
                    errors:
                      - English is the only supported language for this service.
                Public Figure Detected:
                  value:
                    id: ff54b236a3acdde1522cb1ba641c43ed
                    name: public_figure
                    errors:
                      - Our system detected the likeness of a public figure in your image. To comply with our guidelines, this request cannot be processed. Please upload a different image.
        '429':
          description: You have made more than 150 requests in 10 seconds.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: rate_limit_exceeded
                  name: rate_limit_exceeded
                  errors:
                    - You have exceeded the rate limit of 150 requests within a 10 second period, and have been timed out for 60 seconds.
        '500':
          description: An internal error occurred. If the problem persists [contact support](https://stabilityplatform.freshdesk.com/support/tickets/new).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2a1b2d4eafe2bc6ab4cd4d5c6133f513
                  name: internal_error
                  errors:
                    - An unexpected server error has occurred, please try again later.
  /v2beta/image-to-video/result/{id}:
    get:
      tags:
        - Image-to-Video
      summary: Fetch generation result
      description: |-
        Fetch the result of an image-to-video generation by ID.

        Make sure to use the same API key to fetch the generation result that you used to create the generation,
        otherwise you will receive a `404` response.

        ### How to use
        Please invoke this endpoint with a `GET` request.

        The headers of the request must include an API key in the `authorization` field and the ID
        of your generation must be in the path.

        ### How is progress reported?
        Your generation is either `in-progress` (i.e. status code `202`) or it is complete (i.e. status code `200`).
        We may add more fine-grained progress reporting in the future (e.g. a numerical progress).

        ### How long are results stored?
        Results are stored for 24 hours after generation. After that, the results are deleted and you will need to
        re-generate your video.
      x-codeSamples:
        - lang: python
          label: Python
          source: |-
            import requests

            generation_id = "e52772ac75b..."

            response = requests.request(
                "GET",
                f"https://api.stability.ai/v2beta/image-to-video/result/{generation_id}",
                headers={
                    'accept': "video/*",  # Use 'application/json' to receive base64 encoded JSON
                    'authorization': f"Bearer sk-MYAPIKEY"
                },
            )

            if response.status_code == 202:
                print("Generation in-progress, try again in 10 seconds.")
            elif response.status_code == 200:
                print("Generation complete!")
                with open("video.mp4", 'wb') as file:
                    file.write(response.content)
            else:
                raise Exception(str(response.json()))
        - lang: javascript
          label: JavaScript
          source: |-
            import axios from "axios";
            import fs from "node:fs";

            const generationID = "e52772ac75b...";

            const response = await axios.request({
              url: `https://api.stability.ai/v2beta/image-to-video/result/${generationID}`,
              method: "GET",
              validateStatus: undefined,
              responseType: "arraybuffer",
              headers: {
                Authorization: `Bearer sk-MYAPIKEY`,
                Accept: "video/*", // Use 'application/json' to receive base64 encoded JSON
              },
            });

            if (response.status === 202) {
              console.log("Generation is still running, try again in 10 seconds.");
            } else if (response.status === 200) {
              console.log("Generation is complete!");
              fs.writeFileSync("video.mp4", Buffer.from(response.data));
            } else {
              throw new Error(`Response ${response.status}: ${response.data.toString()}`);
            }
        - lang: terminal
          label: cURL
          source: |-
            generation_id="e52772ac75b..."
            url="https://api.stability.ai/v2beta/image-to-video/result/$generation_id"
            http_status=$(curl -sS -f -o "./output.mp4" -w '%{http_code}' -H "authorization: sk-MYAPIKEY" -H 'accept: video/*' "$url")

            case $http_status in
                202)
                    echo "Still processing. Retrying in 10 seconds..."
                    ;;
                200)
                    echo "Download complete!"
                    ;;
                4*|5*)
                    mv "./output.mp4" "./error.json"
                    echo "Error: Check ./error.json for details."
                    exit 1
                    ;;
            esac
      parameters:
        - schema:
            $ref: '#/components/schemas/GenerationID'
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.
            minLength: 1
          required: true
          name: authorization
          in: header
        - schema:
            type: string
            default: video/*
            description: Specify `video/*` to receive the bytes of the video directly. Otherwise specify `application/json` to receive the video as base64 encoded JSON.
            enum:
              - video/*
              - application/json
          required: false
          name: accept
          in: header
        - schema:
            $ref: '#/components/schemas/StabilityClientID'
          required: false
          name: stability-client-id
          in: header
        - schema:
            $ref: '#/components/schemas/StabilityClientUserID'
          required: false
          name: stability-client-user-id
          in: header
        - schema:
            $ref: '#/components/schemas/StabilityClientVersion'
          required: false
          name: stability-client-version
          in: header
      responses:
        '200':
          description: The result of your video generation.
          headers:
            x-request-id:
              description: A unique identifier for this request.
              schema:
                type: string
            content-type:
              description: |-
                The format of the generated video.

                 To receive the bytes of the video directly, specify `video/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.
              examples:
                mp4:
                  description: raw bytes
                  value: video/mp4
                mp4JSON:
                  description: base64 encoded
                  value: application/json; type=video/mp4
              schema:
                type: string
            finish-reason:
              schema:
                type: string
                enum:
                  - SUCCESS
                  - CONTENT_FILTERED
              description: |-
                Indicates the reason the generation finished.

                - `SUCCESS` = successful generation.
                - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                policy and one or more frames have been blurred as a result.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`.
            seed:
              description: |-
                The seed used as random noise for this generation.

                > **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `seed`.
              example: '343940597'
              schema:
                type: string
          content:
            video/mp4:
              schema:
                type: string
                description: |-
                  The bytes of the generated video.

                  The `finish-reason` and `seed` will be present as headers.
                format: binary
              example: The bytes of the generated mp4
            application/json; type=video/mp4:
              schema:
                type: object
                properties:
                  video:
                    type: string
                    description: The generated video, encoded to base64.
                    example: AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1...
                  seed:
                    type: number
                    minimum: 0
                    maximum: 4294967294
                    default: 0
                    description: The seed used as random noise for this generation.
                    example: 343940597
                  finish_reason:
                    type: string
                    enum:
                      - SUCCESS
                      - CONTENT_FILTERED
                    description: |-
                      The reason the generation finished.

                      - `SUCCESS` = successful generation.
                      - `CONTENT_FILTERED` = successful generation, however the output violated our content moderation
                      policy and one or more frames have been blurred as a result.
                    example: SUCCESS
                required:
                  - video
                  - finish_reason
        '202':
          description: Your image-to-video generation is still in-progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/GenerationID'
                  status:
                    type: string
                    enum:
                      - in-progress
                    description: The status of your generation.
                required:
                  - id
                  - status
        '400':
          description: Invalid parameter(s), see the `errors` field for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
        '404':
          description: 'id: the generation either does not exist or has expired.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2bca35116bc5431d6dc4b4ea2ef3da2f
                  name: generation_not_found
                  errors:
                    - 'id: the generation either does not exist or has expired.'
        '500':
          description: An internal error occurred. If the problem persists [contact support](https://stabilityplatform.freshdesk.com/support/tickets/new).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    description: |-
                      A unique identifier associated with this error. Please include this in any [support tickets](https://stabilityplatform.freshdesk.com/support/tickets/new)
                      you file, as it will greatly assist us in diagnosing the root cause of the problem.
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  name:
                    type: string
                    minLength: 1
                    description: Short-hand name for an error, useful for discriminating between errors with the same status code.
                    example: bad_request
                  errors:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    description: One or more error messages indicating what went wrong.
                    example:
                      - 'some-field: is required'
                required:
                  - id
                  - name
                  - errors
                example:
                  id: 2a1b2d4eafe2bc6ab4cd4d5c6133f513
                  name: internal_error
                  errors:
                    - An unexpected server error has occurred, please try again later.
  /v2beta/3d/stable-fast-3d:
    post:
      tags:
        - 3D
      summary: Stable Fast 3D
      description: |-
        Stable Fast 3D generates high-quality 3D assets from a single 2D input image.

        ### Try it out
[...]
