openapi: 3.0.1
info:
  title: Shorten.REST API Documentation
  description: "## Introduction\n\n\nThe Shorten.rest API allows you to programmatically\
    \ create short URLs (an &apos;alias&apos;) for longer URL (a &apos;destination&apos;).\n\
    \nEach alias you create can be used to redirect the end user (person clicking\
    \ on the link) to one or more destination URLs\n\nA default destination is always\
    \ set and specific destinations can be set to redirect the end user to preferred\
    \ destinations based on the user&apos;s geographical location (country) and device\
    \ Operating System.\n\nIn order to use the Shorten.Rest URL Shortening API you\
    \ can choose to bind your own branded domain, sub-domain or to use our default\
    \ domain - Short.FYI \n\n ### Destination Matching \n\n When creating or editing\
    \ a short URL (&apos;alias&apos;) you can choose to specify a destination for\
    \ each country and OS ([Supported OSes list](#tag/OperatingSystems)) combination.\
    \ \n\n When a user clicks on the short link, Shorten.rest will examine the end\
    \ user's country (determined by User's IP) and OS (User agent) and match the most\
    \ suitable destination for each user. \n\n (*) If no destination is set for a\
    \ specific request combination Shorten.rest will use the default destination that\
    \ exists within each short URL \n\n (**) BRANDED DOMAINS: If the requested alias\
    \ does not exist in our database - Shorten.rest will redirect the user to the\
    \ default fallback you set within your dashboard under the ‘Alias Not Found Page\
    \ Url’ value for a custom domain. \n\n (***) Operating System (OS) destinations\
    \ are stronger than a country destination! \n For example - if you have a custom\
    \ landing page that is targeting people in the USA and a second landing page that\
    \ is hyper focused for people who use iOS devices - a person clicking on your\
    \ link in the USA that is on an iPhone will be redirected to the iOS landing page,\
    \ while all other devices will be redirected to the USA landing page. \n\n | OS\
    \  | Country  | Destination |\n| :------------: |:---------------:| -----|\n|\
    \ iOS      |  | YourDestination.com/ios |\n|       | US        |   YourDestination.com/usa\
    \ | \n\n Shorten.rest will choose the YourDestination.com/ios url as the most\
    \ suitable destination.\n\n ### Branded Domain Attributes \n\n When setting up\
    \ your custom domain you can include optional metatags and snippets ([Supported\
    \ snippets list](#tag/Snippets)). These parameters (such as retargeting, tracking\
    \ and conversion pixels) are populated and fired on click - at the time of the\
    \ redirect. \n\n By default the parameters you set in the domain setting will\
    \ be included in all Short URLs associated with that domain. \n\n You can always\
    \ override the domain defaults for each URL by passing the appropriate variables\
    \ when creating or updating a short URL \n\n ### Setting a Custom string for an\
    \ Alias (short.fyi/alias) \n\n While creating a short URL you can specify which\
    \ domain to use. You can choose to use your own branded domain or our default\
    \ domain - Short.fyi. \n\n Each Alias is unique within a domain they are related\
    \ to. This means that if multiple accounts use you the same domain (for example\
    \ short.fyi), if an alias is already taken you may not create a new destination\
    \ for it.\n\n That said - If you would like to use a specific alias which is already\
    \ taken - the only way to do so is to create it on a new domain you own and have\
    \ attached to your Shorten.rest account. \n\n ### Random Aliases \n\n By default\
    \ - unless you specify a vanity URI for your alias each URL that is shortened\
    \ on our platform will have a random string generated by the API. This means that\
    \ if the &apos;alias&apos; attribute of a /aliases POST request is not provided,\
    \ or is an empty string, a random string of seven characters will be generated\
    \ and returned as part of the POST response. \n\n You can also place the @**rnd**\
    \ macro within the alias field when you create a new alias, for example /vanity/@rnd,\
    \ which might return an alias like /vanity/ZMAefRt, or /vanity@rnd, which might\
    \ produce something like /vanityMRtvxadf. Only the first @rnd in an alias attribute\
    \ will be replaced. \n\n ### NOTES \n\n ( * ) All methods of the Shorten.REST\
    \ API require that your API key be provided in **x-api-key** header. \n\n (**)\
    \ All API parameters are case sensitive"
  version: 1.0.0
  x-logo:
    url: ./assets/logo.png
    backgroundColor: "rgb(236, 236, 236)"
    href: https://shorten.rest
externalDocs:
  description: Visit main site
  url: https://shorten.rest
servers:
- url: https://api.shorten.rest/
tags:
- name: Alias
  description: "**Operations:** Create, Get, Update, Delete, Get List"
- name: Click
  description: '**Operations:** Get List'
paths:
  /aliases:
    get:
      tags:
      - Alias
      summary: Get alias
      description: Get detailed information for a single alias by providing its alias
        and domain name
      operationId: GetAlias
      parameters:
      - name: domainName
        in: query
        description: domain which alias belongs to (string without `http/https` or
          `/`)
        schema:
          type: string
          default: short.fyi
      - name: aliasName
        in: query
        description: alias value (without `/` at the beginning)
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Alias model or **null**
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasModel'
      security:
      - ApiKeyAuth: []
    put:
      tags:
      - Alias
      summary: Update alias
      description: "Update a single short URL by providing its alias and domain as\
        \ a parameter, and the data you wish to update in the body of the request.\
        \ If no domain is provided you will receive the alias found attached to the\
        \ Short.fyi domain (if it exists and is linked to your account!)\n\n ### NOTE:\
        \ \n\n ( * )If you add a metatag or a snippet with a same name to an alias\
        \ and the domain it's related to, the value will be taken from the alias and\
        \ not the domain \n\n ( ** ) When you update any array property (like destinations)\
        \ the block is updated **completely** so you have to specify the old records\
        \ to avoid deleting them\n\n ( *** ) The method updates only the specified\
        \ properties so if there was no change in one of them you don't have to send\
        \ it."
      operationId: UpdateAlias
      parameters:
      - name: domainName
        in: query
        description: domain which alias belongs to (string without `http/https` or
          `/`)
        schema:
          type: string
          default: short.fyi
      - name: aliasName
        in: query
        description: alias (without `/` at the beginning)
        required: true
        schema:
          type: string
      requestBody:
        description: alias properties you wish to be updated
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateAliasModel'
        required: true
      responses:
        "200":
          description: Empty response
          content: {}
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: alias
    post:
      tags:
      - Alias
      summary: Create alias
      description: "This POST method creates a new alias under a specified domain.\
        \ If no domain is specified in the request the alias will be attached to the\
        \ default domain Short.fyi \n\n **NOTE:** You can override the domain level\
        \ Meta Tags and Tracking Snippets by specifying them for each URL. Any variables\
        \ you add to a specific URL will always override domain level settings."
      operationId: CreateAlias
      parameters:
      - name: domainName
        in: query
        description: domain which alias will belong to (string without `http/https`
          or `/`)
        schema:
          type: string
          default: short.fyi
      - name: aliasName
        in: query
        description: alias (without `/` at the beginning)
        schema:
          type: string
          default: '@rnd'
      requestBody:
        description: alias properties
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateAliasModel'
        required: true
      responses:
        "200":
          description: "Response contains aliasName, domainName and full generated\
            \ short link"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAliasResponseModel'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: alias
    delete:
      tags:
      - Alias
      summary: Delete alias
      description: Deletes a single alias by providing alias and domain. If no domain
        is provided the API will search for the matching alias within the Short.fyi
        domain
      operationId: DeleteAlias
      parameters:
      - name: domainName
        in: query
        description: domain which alias belongs to (string without `http/https` or
          `/`)
        schema:
          type: string
          default: short.fyi
      - name: aliasName
        in: query
        description: alias (without `/` at the beginning)
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Empty response
          content: {}
      security:
      - ApiKeyAuth: []
  /aliases/all:
    get:
      tags:
      - Alias
      summary: Get aliases by domain
      description: "Obtain a list of all alias names associated with your account\
        \ and given domain. Result array is in descending order by creation date.\
        \ \n\n If no domain is specified you will receive a list of all the alias\
        \ names you have created using the Short.fyi domain. \n\n If there are more\
        \ results than the limit for the request the response will return you a value\
        \ in lastId property you can specify it in the continueFrom query parameter\
        \ to get the next batch of records."
      operationId: GetAliases
      parameters:
      - name: domainName
        in: query
        description: The domain name to get the aliases for (string without `http/https`
          or `/`)
        schema:
          type: string
          default: short.fyi
      - name: continueFrom
        in: query
        description: An ID returned by a previous query to continue aliases retrieval
          (see lastId in response)
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per request
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 1000
      responses:
        "200":
          description: returns Array of aliases with lastId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAliasesModel'
      security:
      - ApiKeyAuth: []
  /clicks:
    get:
      tags:
      - Click
      summary: Get clicks
      description: "Retrieve the raw click data for your account. Clicks are retrieved\
        \ by creation date in descending order. \n\n If there are more results than\
        \ the limit for the request the response will return you a value in lastId\
        \ property you can specify it in the continueFrom query parameter to get the\
        \ next batch of records."
      operationId: GetClicks
      parameters:
      - name: continueFrom
        in: query
        description: An ID returned by a previous query to continue clicks retrieval
          (see lastId in response)
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per request
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 1000
      responses:
        "200":
          description: "returns Array of Click models, also returns lastId"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClicksModel'
      security:
      - ApiKeyAuth: []
  /clicks/pg:
    post:
      tags:
      - Statistics
      summary: Get clicks statistics
      description: Retrieve the raw click statistics for your account. Clicks are
        retrieved by creation date in descending order.
      operationId: GetStatistics
      requestBody:
        description: Filter
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ClicksFilterModel'
        required: true
      responses:
        "200":
          description: "returns Array of Click models, also returns lastId"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickModelPg'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: Filter
components:
  schemas:
    GetClicksModel:
      type: object
      properties:
        clicks:
          type: array
          items:
            $ref: '#/components/schemas/ClickModel'
        lastId:
          type: string
    ClickModel:
      type: object
      properties:
        country:
          type: string
        os:
          type: string
        createdAt:
          type: integer
          format: int64
        domain:
          type: string
        aliasId:
          type: string
        alias:
          type: string
        destination:
          type: string
        userAgent:
          type: string
        browser:
          type: string
        referrer:
          type: string
    ClickModelPg:
      type: object
      properties:
        id:
          type: integer
        createdAt:
          type: integer
          format: int64
        accountId:
          type: string
        country:
          type: string
        os:
          type: string
        domain:
          type: string
        alias:
          type: string
        aliasId:
          type: string
        destination:
          type: string
        userAgent:
          type: string
        browser:
          type: string
        referrer:
          type: string
    CreateAliasResponseModel:
      type: object
      properties:
        aliasName:
          type: string
          example: aBcDe012
        domainName:
          type: string
          example: your.domain.com
        shortUrl:
          type: string
          example: https://your.domain.com/aBcDe012
    AliasModel:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: aBcDe012
        domainName:
          type: string
          example: your.domain.com
        createdAt:
          type: integer
          format: int64
          example: 1595845801514
        updatedAt:
          type: integer
          format: int64
          example: 1595845801514
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/DestinationModel'
        metatags:
          type: array
          items:
            $ref: '#/components/schemas/MetaTagModel'
        snippets:
          type: array
          items:
            $ref: '#/components/schemas/SnippetModel'
    GetAliasModel:
      type: object
      properties:
        name:
          type: string
        domainName:
          type: string
          example: your.domain.com
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
      additionalProperties:
        $ref: '#/components/schemas/CreateAliasModel'
    CreateAliasModel:
      type: object
      properties:
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/DestinationModel'
        metatags:
          type: array
          items:
            $ref: '#/components/schemas/MetaTagModel'
        snippets:
          type: array
          items:
            $ref: '#/components/schemas/SnippetModel'
    GetAliasesModel:
      type: object
      properties:
        aliases:
          type: array
          items:
            type: string
        lastId:
          type: string
    DestinationModel:
      required:
      - url
      type: object
      properties:
        country:
          type: string
          description: "ISO alpha-2 [country code](//en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements)"
        os:
          type: string
          description: "Please check the [supported OS list](#tag/OperatingSystems)"
        url:
          type: string
    MetaTagModel:
      required:
      - content
      - name
      type: object
      properties:
        name:
          type: string
        content:
          type: string
    SnippetModel:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: "Please check the [supported snippets list](#tag/Snippets)"
        parameters:
          type: object
          additionalProperties:
            type: string
    ClicksFilterModel:
      type: object
      properties:
        domain:
          type: string
          description: Domain name
          example: short.fyi
        aliasId:
          type: string
          description: Alias Id
          example: aBcDe012
        dateFrom:
          type: string
          description: date From
          example: 2001-05-02
        dateTo:
          type: string
          description: date To
          example: 2001-05-02
        lastId:
          type: integer
          description: last Id
          example: 100
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: x-api-key
      in: header
x-original-swagger-version: "2.0"
